<section class="archive">
  <ul class="post-archive">
    <% var currentY = '' %>
    <% page.posts.each(function (post) {
      var y = date(post.date, "YYYY")
    %>
      <% if (y !== currentY) {%>
      <% currentY = y %>
        <li class="post-year"><%= currentY %></li>
      <% } %>
      <li class="post-item">
        <time class="post-date pc"><%= date(post.date, "MM-DD") %></time>
        <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </li>
    <% }) %>
  </ul>
</section>
<%- partial('_partial/paginator') %>